  <%# <p> %>
  <%#= snippet.title %>
  <%# </p> %>
  <div class="youtube__cover">
    <div class="youtube__screen">
      <iframe width="889" height="500" src="https://www.youtube.com/embed/<%= ["items"][0]["id"] %>"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <%# end %>


  <div>
    <%# アカウント認証するとcode発行 %>
    <%= link_to "このURLをクリックすることでgoogleアカウントを認証しアプリが使えます", "https://accounts.google.com/o/oauth2/auth?client_id=660241016882-pl2v6ilg0k0vqi3eqdqekv6risb565pp.apps.googleusercontent.com&redirect_uri=http://localhost:3000/&scope=https://www.googleapis.com/auth/youtube.readonly&response_type=code"%>
  </div>
  <div>
    <%= link_to "サブアプリはこちら(承認なし)", juntubes_path %>
  </div>