.flex-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bg-center {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frame-screen {
  width: 889px;
  height: 500px;
}

.hover {
  background-color: rgba(62, 62, 62, 0.7);
}
