.flex-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bg-center {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frame-screen {
  width: 889px;
  height: 500px;
}

.hover {
  background-color: rgba(62, 62, 62, 0.7);
}

//js
.side-bar-menu.open {
  width: 80px;
}
.side-bar-menu__bottom__juntube.open {
  display: none;
}
.side-bar-menu__bottom__oauth.open {
  display: none;
}
.side-bar-menu__bottom__dev.open {
  display: none;
}
.side-bar-menu__children.open p,
.side-bar-menu__children.open a {
  display: none;
}