@import "./materials";

.side-bar-menu {
  position: fixed;
  top: 7.4vh;
  left: 0;
  bottom: 0;
  width: 17vw;
  height: 92.6vh;
  background-color: #212121;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;

  &__children {
    @extend .flex-column;
    height: 48vh;
    padding: 2vh 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    cursor: not-allowed;

    .border-cover {
      @extend .flex-column;
      height: 15vh;
      padding-bottom: 2vh;
      border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    }

    .has_image {
      display: flex;
      padding-left: 2vw;

      &:hover {
        @extend .hover;
      }
    }

    &__home {
      cursor: pointer;
    }

    p,
    a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      padding-left: 2vw;
    }
  }

  &__bottom {
    @extend .flex-column;
    margin-top: 2vh;

    &:hover {
      @extend .hover;
    }

    &__juntube,
    &__oauth,
    &__dev {
      display: inline-block;
      padding-left: 5vw;
      text-decoration: none;
      color: #fff;
      width: 100%;
    }
    &__oauth {
      width: 99%;
      margin-top: 2vh;
      padding: 0;
      border: solid 1px #007aff;

      &:hover {
        @extend .hover;
      }
    }
  }
}
