@import './parts/header';
@import './parts/side-bar';
@import './parts/swiper';

.body {
  position: relative;
  font-size: 10px;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

.container {
  position: absolute;
  top: 0;
  left: 17vw;
  height: 92.6vh;
  width: 83vw;
  background-color: #181818;
}

// index.html.erb
.youtube {
  &__cover {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
  }

  &__screen {
    padding-bottom: 4vh;
  }
}

.video_title {
  color: #fff;
  font-size: 1.4rem;
}

.video_date {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

.dummy-frame {
  width: 100%;
  height: 500px;
  background-image: url("/assets/images/root/1.jpg");
  background-size: cover;
  background-position: center;
}