.flex-column, .side-bar-menu__children, .side-bar-menu__children .border-cover, .side-bar-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-center, .header .search__btn, .header .header-right .yt-3, .dummy-frame {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frame-screen, .youtube__screen, .dummy-frame {
  width: 889px;
  height: 500px;
}

.hover, .side-bar-menu__children .has_image:hover, .side-bar-menu__bottom:hover, .side-bar-menu__bottom__oauth:hover {
  background-color: rgba(62, 62, 62, 0.7);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.4vh;
  background-color: #212121;
}

.header__menu__top {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17vw;
  padding-left: 2.4vw;
}

.header__menu__toggle {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  cursor: pointer;
}

.header__menu__toggle span {
  position: absolute;
  left: 0;
  height: 2px;
  width: 20px;
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__menu__toggle span:nth-child(1) {
  top: 6px;
}

.header__menu__toggle span:nth-child(2) {
  top: 11px;
}

.header__menu__toggle span:nth-child(3) {
  top: 16px;
}

.header__menu .logo {
  position: absolute;
  top: -0.5vh;
  left: 5vw;
  height: 45%;
  width: 45%;
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 29vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .search input[type="text"] {
  width: 40vw;
  height: 3.8vh;
  border: solid 1px #303030;
  background-color: #181818;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.header .search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5em;
}

.header .search input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5em;
}

.header .search input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5em;
}

.header .search input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5em;
}

.header .search__btn {
  display: block;
  border: none;
  outline: none;
  background: transparent;
  height: 3.6vh;
  width: 4vw;
  background-image: url("yt-search.png");
}

.header .header-right .yt-3 {
  background-image: url("yt-3.png");
  position: absolute;
  right: 4vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40%;
  width: 140px;
}

.flex-column, .side-bar-menu__children, .side-bar-menu__children .border-cover, .side-bar-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-center, .header .search__btn, .header .header-right .yt-3, .dummy-frame {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frame-screen, .youtube__screen, .dummy-frame {
  width: 889px;
  height: 500px;
}

.hover, .side-bar-menu__children .has_image:hover, .side-bar-menu__bottom:hover, .side-bar-menu__bottom__oauth:hover {
  background-color: rgba(62, 62, 62, 0.7);
}

.side-bar-menu {
  position: fixed;
  top: 7.4vh;
  left: 0;
  bottom: 0;
  width: 17vw;
  height: 92.6vh;
  background-color: #212121;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.side-bar-menu__children {
  height: 48vh;
  padding: 2vh 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  cursor: not-allowed;
}

.side-bar-menu__children .border-cover {
  height: 15vh;
  padding-bottom: 2vh;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.side-bar-menu__children .has_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2vw;
}

.side-bar-menu__children__home {
  cursor: pointer;
}

.side-bar-menu__children p,
.side-bar-menu__children a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding-left: 2vw;
}

.side-bar-menu__bottom {
  margin-top: 2vh;
}

.side-bar-menu__bottom__juntube, .side-bar-menu__bottom__oauth, .side-bar-menu__bottom__dev {
  display: inline-block;
  padding-left: 5vw;
  text-decoration: none;
  color: #fff;
  width: 100%;
}

.side-bar-menu__bottom__oauth {
  width: 99%;
  margin-top: 2vh;
  padding: 0;
  border: solid 1px #007aff;
}

.swiper-container {
  width: 67.5vw;
  padding: 0 4vw;
}

.swiper-button-next,
.swiper-button-prev {
  background-size: cover;
  background-position: center;
  background-image: url("arrow.png");
}

.swiper-button-prev {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #212121;
  width: 20%;
  height: 2vh;
  margin: 0 25.4vw;
  top: 520px;
}

.flex-column, .side-bar-menu__children, .side-bar-menu__children .border-cover, .side-bar-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-center, .header .search__btn, .header .header-right .yt-3, .dummy-frame {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frame-screen, .youtube__screen, .dummy-frame {
  width: 889px;
  height: 500px;
}

.hover, .side-bar-menu__children .has_image:hover, .side-bar-menu__bottom:hover, .side-bar-menu__bottom__oauth:hover {
  background-color: rgba(62, 62, 62, 0.7);
}

.body {
  position: relative;
  font-size: 10px;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

.container {
  position: absolute;
  top: 0;
  left: 17vw;
  height: 92.6vh;
  width: 83vw;
  background-color: #181818;
}

.youtube__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4vh;
}

.youtube__screen {
  margin-bottom: 6vh;
}

.youtube__screen-frame {
  margin-bottom: 2vh;
}

.video_title {
  color: #fff;
  font-size: 1.4rem;
}

.video_date {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

.dummy-frame {
  position: relative;
  background-image: url("1.jpg");
}

.dummy-frame .copy-right {
  position: absolute;
  bottom: 1px;
  right: 0;
  font-size: 1px;
}

.dummy-frame .copy-link {
  text-decoration: none;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=style.css.map */