  <div class="side-bar-menu">
    <div class="side-bar-menu__children">
      <div class="has_image side-bar-menu__children__home">
        <div class="menu-image" style="background-image: url('/assets/images/home.png');"></div>
        <%=link_to "ホーム", root_path %>
      </div>
      <div class="has_image side-bar-menu__children__up">
        <div class="menu-image" style="background-image: url('/assets/images/up.png');"></div>
        <p>急上昇</p>
      </div>
      <div class="has_image side-bar-menu__children__sub">
        <div class="menu-image" style="background-image: url('/assets/images/sub.png');"></div>
        <p>登録チャンネル</p>
      </div>
      <div class="has_image side-bar-menu__children__library">
        <div class="menu-image" style="background-image: url('/assets/images/library.png');"></div>
        <p>ライブラリ</p>
      </div>
      <div class="has_image side-bar-menu__children__history">
        <div class="menu-image" style="background-image: url('/assets/images/history.png');"></div>
        <p>履歴</p>
      </div>
      <div class="has_image side-bar-menu__children__my_video">
        <div class="menu-image" style="background-image: url('/assets/images/my_video.png');"></div>
        <p>自分の動画</p>
      </div>
      <div class="has_image side-bar-menu__children__later">
        <div class="menu-image" style="background-image: url('/assets/images/later.png');"></div>
        <p>後で見る</p>
      </div>
      <div class="has_image side-bar-menu__children__good">
        <div class="menu-image" style="background-image: url('/assets/images/good.png');"></div>
        <p>高く評価した動画</p>
      </div>
      <div class="has_image side-bar-menu__children__more">
        <div class="menu-image" style="background-image: url('/assets/images/more.png');"></div>
        <p>もっと見る</p>
      </div>
    </div>

    <div class="has_image side-bar-menu__bottom">
      <%= link_to "JunTube", juntubes_path, class:'side-bar-menu__bottom__juntube' %>

      <%= render partial: "layouts/oauth" %>
      
    </div>
  </div>