  <header class="header">
    <div class="header__menu">
      <div class="header__menu__top">
        <div class="header__menu__toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logo">
          <%= link_to image_tag("logo.png"), "https://www.youtube.com",target: :_blank %>
        </div>
      </div>

      <%= form_with url: "/youtube" do |f| %>
        <div class="search">
          <%= f.text_field :dummy, placeholder: "\s\s\s検索", method: :get, class: "search__box" %>
          <input type="button" name="submit" class="search__btn">
        </div>
      <% end %>

      <div class="header-right">
        <div class="yt-3"></div>
      </div>
    </div>
  </header>