  <header class="header">
    <div class="header__menu">
      <div class="header__menu__top">
        <div class="header__menu__toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logo">
          <%= link_to image_tag("logo.png"), "https://www.youtube.com",target: :_blank %>
        </div>
      </div>
    </div>
  </header>